.bg1 {
  background: url("../images/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105vh;
  width: 100%;
  background-attachment: scroll;
  background-position: center;
}
.hero {
  background: black;
  color: white;
  width: 100%;
}
.container {
  max-width: 700px;
  width: 100%;
  height: auto;
  background: black;
  padding: 30px 30px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.container .title {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
  color: #CCBA78;
}

.homep1 {
  color: #CCBA78;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}

.homep {
  color: #fff;
  overflow: hidden;
  border-right: 2px solid #CCBA78;
  white-space: nowrap;
  display: inline-block;
  margin-left: 10px;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(20, end) infinite,
    blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 38%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #CCBA78;
  }
}
