.reset-container {
  background: url(../images/background_image.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105vh;
  width: 100%;
  background-attachment: scroll;
  background-position: center;
}

.reset-box {
  background: black;
  opacity: 0.9;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px #CCBA78;
  max-width: 600px;
  width: 100%;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.reset-box .title {
  font-size: 24px;
  font-weight: bold;
  color: #CCBA78;
  margin-bottom: 20px;
}

.reset-box p {
  font-size: 16px;
  color: #666;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 20px;
}

.reset-box .input-group {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.reset-box .input-group:hover {
  transform: scale(1.05);
}

.reset-box .input-group .icon {
    color: #CCBA78;
    font-size: 18px;
    margin-right: 10px;
}

.reset-box input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s, box-shadow 0.3s;
}

.reset-box input:focus {
  box-shadow: 0px 0px 8px #CCBA78;
  outline: none;
}

.reset-box input::placeholder {
  color: #aaa;
  font-style: italic;
}

.reset-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #008b8b, #CCBA78);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.reset-box button:hover {
    background: linear-gradient(-135deg, #008b8b, #CCBA78);
    transform: scale(1.05);
}

.reset-box button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .reset-box {
    width: 90%;
    padding: 2rem;
  }

  .reset-box h2 {
    font-size: 22px;
  }

  .reset-box input {
    font-size: 14px;
  }

  .reset-box button {
    font-size: 14px;
  }
}
